<div class="alert-container">
  <app-app-info></app-app-info>
  <app-app-warn></app-app-warn>
  <app-app-error></app-app-error>
</div>

<div class="title-container">
  <header class="header-3 custom-header">
    <div class="branding">
        <!-- <a href="#" class="nav-link"> -->
          <span class="profile-image">
            <img src="assets/profile-3-96.png" alt="Profile">
          </span>
          <!-- <clr-icon shape="vm-bug"></clr-icon> -->
          <!-- <span class="title">BC Sales Assistant</span> -->
        <!-- </a> -->
    </div>
    <div class="header-actions">
        <!-- <a href="..." class="nav-link nav-text">
            Log Out
        </a> -->
    </div>
  </header>

    <h1 class="title">Dedicated Virtual Assistant</h1>
    <h2 class="subtitle">Professional Services</h2>
    <div class="title-actions">
      <button 
      class="btn btn-primary custom-button"
      (click)="showRequestForm()">Request a Consultation</button>
    </div>
</div>
<div class="services-container clr-row">
  <div class="service-container clr-col">
    <app-service 
      [title]="'Adminstration Services'" 
      [text]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
      [image]="'admin-assistant.jpg'">
    </app-service>
  </div>
  <div class="service-container clr-col">
    <app-service 
      [title]="'Customer Service'" 
      [text]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
      [image]="'project-management.jpg'">
    </app-service>
  </div>
  <div class="service-container clr-col">
    <app-service 
      [title]="'Research Services'" 
      [text]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
      [image]="'research-services.jpg'">
    </app-service>
  </div>
  <div class="service-container clr-col">
    <app-service 
      [title]="'Project Management'" 
      [text]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
      [image]="'customer-service.jpg'">
    </app-service>
  </div>
</div>

<!-- <div class="additional-container">

</div> -->

<app-footer></app-footer> 

<app-request-consultation></app-request-consultation>

