<div class="alert-container">
  <app-app-info></app-app-info>
  <app-app-warn></app-app-warn>
  <app-app-error></app-app-error>
</div>

<div class="title-container">
  <header class="header-3 custom-header">
    <div class="branding">
        <!-- <a href="#" class="nav-link"> -->
          <span class="profile-image">
            <img src="assets/profile-3-96.png" alt="Profile">
          </span>
          <!-- <clr-icon shape="vm-bug"></clr-icon> -->
          <!-- <span class="title">BC Sales Assistant</span> -->
        <!-- </a> -->
    </div>
    <div class="header-actions">
        <!-- <a href="..." class="nav-link nav-text">
            Log Out
        </a> -->
    </div>
  </header>

    <h1 class="title">Dedicated Virtual Assistant</h1>
    <h2 class="subtitle">Professional Services</h2>
    <div class="title-actions">
      <button 
      class="btn btn-primary custom-button"
      (click)="showRequestForm()">Request a Consultation</button>
    </div>
</div>
<div class="services-container">
  <div class="service-container">
    <h2 class="service-title">Adminstration Services</h2>
    <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, iusto, architecto possimus impedit laboriosam est tempora consectetur rem quia omnis tempore aliquam blanditiis magni expedita? Libero fugiat molestiae molestias tenetur.</p>
  </div>
  <div class="service-container">
    <h2 class="service-title">Customer Service</h2>
    <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perferendis alias fugit eum impedit corrupti dolorem sapiente dolore quisquam, magnam tempore deserunt nihil. Nostrum modi repellat maxime voluptatum atque saepe!</p>
  </div>
  <div class="service-container">
    <h2 class="service-title">Research Services</h2>
    <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptate! Harum asperiores similique fuga dolores aut iure, earum fugiat quia corporis beatae quaerat temporibus libero exercitationem voluptatem eos hic vel.</p>
  </div>
</div>

<div class="additional-container">

</div>

<app-footer></app-footer> 

<app-request-consultation></app-request-consultation>

